* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #000000;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: azure;
  padding: 36px 95px;
  border-bottom: 1px solid #ffe8a8;
  /* position: relative; */
  /* position: fixed; */
}
nav .docs-link {
  display: flex;
  gap: 12px;
}
nav .media-link {
  display: flex;
  gap: 10px;
  color: white;
}
a:link {
  text-decoration: none;
  color: #fff;
}

a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

a:active {
  text-decoration: none;
  color: #fff;
}

.hero-section {
  /* position: relative; */
  top: 156px;
  display: flex;
  align-items: center;
  margin: 0px 30px;
}
.hero-section .left-section .heading {
  color: #fff;
  font-size: 54px;
  font-weight: 700;
}
.hero-section .left-section .sub-heading {
  color: #889096;
  font-size: 20px;
  font-weight: 500;
}
